# Gradle
.gradle/
/build/
/dist/

# Eclipse/IntelliJ/VScode
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# NeoForge / run files and local configs
/neoforge/run/
/common/build/
/not-implemented/extracted/
/config/

# Temporary and logs
*.log
